.encabezado {
    padding-left: 2%;
    padding-right: 2%;
}

.hero-image {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgb(0 0 0 /0.5)), url('../img/ba1.jpg');
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 10%;
    text-align: center;
    font-size: medium;
    vertical-align: middle;
    display: table-cell;
}

.hero-text button {
    margin: 3%;
}

@media (min-width: 630px) {
    .hero-text {
        position: absolute;
        width: 40%;
        left: 30%;
        top: 20%;
        text-align: center;
        font-size: large;

    }
}

@media (min-width: 992px) {
    .hero-text {
        top: 40%;
        right: 7rem;
        left: auto;
        text-align: right;
    }

    .hero-text button {
        margin: auto;
    }

    .hero-image {

        background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgb(0 0 0 /0.5)), url('../img/ba1.jpg');
        height: 700px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}

.letra {
    font-size: small;
}

.formulario {
    font-size: x-small;
}

.letraBoton {
    font-size: medium;
    background-color: greenyellow;
}

#txtarea {
    font-size: 1.1rem;
}

header {
    background-color: #353A40;
}

#btnCeleste {
    background-color: #17A2B9;
    border-color: #17A2B9;
}

#tarjeta {
    background-color: #353A40;
}

#btnVerde {
    background-color: #96C93E;
    border-color: #96C93E;
}

footer {
    background-image: linear-gradient(to right, #1D3947, #1E5371);
}

@media (min-width: 992px) {
#formulario {
    margin-left: 8.5rem;
    margin-right: 8.5rem;

}

#btnBorrar {
    align-content: flex-start;
}

#btnResumen {
    align-content: flex-end;
}

}

@media (max-width: 767px) {

    #formulario button {
       align-content: center;
       margin-top: 0.2rem;
       margin-bottom: 0.2rem;
    
    }
    
}