/* .container-fluid .img-opaca {
    margin: 0 auto;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.7);
} */

.pos-cont {
    position: relative;
    max-width: 2000px;

}

.pos-img {
    width: 100%;
    height: 100%;

}

.posicion {
    position: absolute;
    top: 40%;
    right: 10%;
    width: 45%;
    text-align: center;
}

.color {
    background-image: url('../img/ba1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: 50% 50%;  */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    filter: brightness(0.5);
    text-align: end;
}

.boton {
    text-align: end;
}

.op-img {
    filter: brightness(0.5);
}

.encabezado {
    padding-left: 2%;
    padding-right: 2%;
}

#fondoOscuro {}

.hero-image {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgb(0 0 0 /0.5)), url('../img/ba1.jpg');
    /* background-image: url('../img/ba1.jpg');
    filter: brightness(0.5); */
    /* background-color: rgba(black, black, rgb(0, 0, 0), 0.5); */
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



/* color: rgb(255, 255, 255);
  text-align: right;
  position: absolute;
  top: 50%;
  right: 5rem;
  width: 45%;
  transform: translate(-5%, -5%); */
.hero-text {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 10%;
    text-align: center;
    font-size: medium;
    vertical-align: middle;
    display: table-cell;

}

.hero-text p {
    display: flex;
}

.hero-text button {
    margin: 3%;
}

@media (min-width: 630px) {
    .hero-text {
        position: absolute;
        width: 40%;
        left: 30%;
        top: 20%;
        text-align: center;
        font-size: large;

    }
}


@media (min-width: 992px) {
    .hero-text {
        top: 40%;
        right: 7rem;
        left: auto;
        text-align: right;
    }

    .hero-text button {
        margin: auto;
    }

    .hero-image {

        background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgb(0 0 0 /0.5)), url('../img/ba1.jpg');
        /* background-image: url('../img/ba1.jpg');
    filter: brightness(0.5); */
        /* background-color: rgba(black, black, rgb(0, 0, 0), 0.5); */
        height: 700px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}



col {
    display: block;
    align-items: center;
    justify-content: center;
}

.letra {
    font-size: small;
}

.formulario {
    font-size: x-small;
}

.letraBoton {
    font-size: medium;
    background-color: greenyellow;
}

#txtarea {
    font-size: 1.1rem;
}

header {
    background-color: #353A40;
}

#btnCeleste {
    background-color: #17A2B9;
    border-color: #17A2B9;
}

#imagenHonolulu {
    
}

#tarjeta {
    background-color: #353A40;
}

#btnVerde {
    background-color: #96C93E;
    border-color: #96C93E;
}

footer {
    background-image: linear-gradient(to right, #1D3947, #1E5371);
}



/* .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
/* background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
/* color: #721515;
    width: 100%;
    padding: 20px; 
}   */


/* .container-fluid img{
    position: relative;
    font-family: Arial;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
} */

.pie {
    display: block;
    padding: 100;
}